<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> {% block title %} Стартовая страница {% endblock %} </title>
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script type="text/javascript"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
{% block body %}
    Content
{% endblock %}
<style>
    .mainbody {
        margin-top: 10%;
        margin-left: 15%;
        margin-right: 15%;
    }
</style>
</body>
{% block script %}
{% endblock %}
</html>